<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Holo</title>
  <link rel="stylesheet" href="style.css">
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,700&display=swap" rel="stylesheet">
  <!-- <link rel="stylesheet" href="/css/style.css"> -->

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>

<body>

  <!--  NAVBAR -->
  <nav class="navbar navbar-light bg-white" style="padding-left: 15px;">
    <!-- <a class="navbar-brand" href="./">
      <img src="./assets/logo.png" width="120" height="80" class="d-inline-block align-top" alt="">
    </a> -->
    <a class="navbar-brand" href="../">
      <img src="../assets/logo.png" width="157.5" height="75" class="d-inline-block align-top" alt="Holo Logo">
    </a>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="/rentals">All Rentals</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login" id="login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/register" id="signup">Sign Up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/profile" id="profile">My profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login" id="logout">Log out</a>
      </li>


    </ul>
  </nav>

  <!-- Search form -->
  
    <!-- <form action="">
      <div class="input-group mb-4">
        <input id="query" type="text" placeholder="Search here..." aria-describedby="button-addon5" class="form-control">
        <div class="input-group-append">
          <button id="button-addon5" type="submit" class="btn btn-primary">Q <i class="fa fa-search"> </i> </button>
        </div>
      </div>
    </form> -->
    
    <!--NEW SEARCH BOX AND BUTTON-->
  <div class="container">
    <form id="form" role="search" action="rentals">
      <div class="row"><div class="input-group mb-4">
        <div class="col-8">
          <input type="search" placeholder="Bike, Snowboard, Surfboard..." aria-describedby="button-addon5" class="form-control" name="q" id="query" style="margin-top: 4px;">
        </div>
          <input type="date" aria-describedby="button-addon5" class="form-control" name="df" id="queryDateFrom">
          <span class="input-group-text">To:</span>
          <input type="date" aria-describedby="button-addon5" class="form-control" name="dt" id="queryDateTo">
        <button class="btn btn-primary">Go Time!</button>
        <!-- <div class="input-group-append">
            <button class="btn btn-primary">Go Time!</button>
        </div> -->
      </div></div>
    </form>
  </div>

  <!-- Home Main Pic -->
  <div class="containter" style="position: relative;text-align: center;">
    <img src="./assets/homepage.jpg" alt="Homepage Image">
      <div style="position: absolute; top: 27%; bottom: 73%;left: 25%;right: 25%;">
        <h4>Discover something new to rent</h4>
      </div>
      
  </div>
  <br>

  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" style="height: 400px;">
        <a href="/rentals/camp">
          <img src="./assets/camp.jpeg" class="d-block w-100" alt="camping" style="width:100%;height:100%;object-fit:cover;">
        </a>
        <div class="carousel-caption d-none d-md-block">
          <h4>FIND CAMPING GEAR</h4>
        </div>
      </div>

      <div class="carousel-item" style="height: 400px;">
        <a href="/rentals/water">
          <img src="./assets/surf.jpg" class="d-block w-100" alt="camping" style="width:100%;height:100%;object-fit:cover;">
        </a>
        <div class="carousel-caption d-none d-md-block">
          <h4>FIND SURFBOARDS</h4>
        </div>
      </div>

      <div class="carousel-item" style="height: 400px;">
        <a href="/rentals/cycle">
          <img src="./assets/bike.jpg" class="d-block w-100" alt="biking" style="width:100%;height:100%;object-fit:cover;">
        </a>
        <div class="carousel-caption d-none d-md-block">
          <h4>FIND BIKES</h4>
        </div>
      </div>

      <div class="carousel-item" style="height: 400px;">
        <a href="/rentals/snow">
          <img src="./assets/snowboard.jpg" class="d-block w-100" alt="camping" style="width:100%;height:100%;object-fit:cover;">
        </a>
        <div class="carousel-caption d-none d-md-block">
          <h4>FIND SNOWBOARDS</h4>
        </div>
      </div>

      <div class="carousel-item" style="height: 400px;">
        <a href="/rentals/climb">
          <img src="./assets/climbing.jpg" class="d-block w-100" alt="camping" style="width:100%;height:100%;object-fit:cover;">
        </a>
        <div class="carousel-caption d-none d-md-block">
          <h4>FIND CLIMBING GEAR</h4>
        </div>
      </div>
    </div>
    <button  class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span   class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button  class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span  class="visually-hidden">Next</span>
    </button>
  </div>

  <br>
  <br>

  <div class="row">
    <div class="col-lg-8" style="display:block;margin-left:auto;margin-right:auto;">
      <div class="card text-center">
        <div class="card-body">
          <h3 class="card-title">What is Holo?</h3>
          <p class="card-text">Our mission is to allow people who have unused sporting equipment lying around,
             such as bikes, surfboards, or snowboards, to be able to rent their equipment for a short period of time.</p>
          <p class="card-text">We give owners an opportunity to make money in a safe and insured way, 
             while people who are looking for high quality equipment, 
             but may not have the means to attain or store these items, can rent it for a fraction of the price.</p>
          <p class="card-text">We promote sustainability and encourage people to get outside and enjoy life.</p>
          <a href="/rentals/" class="btn btn-primary">Explore Rentals</a>
        </div>
      </div>
    </div>

  <script src=" https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.min.js"></script>
  <script src="./js/index.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

</body>

</html>