<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Holo</title>
  <link rel="stylesheet" href="../style.css">
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,700&display=swap" rel="stylesheet">
  <!-- <link rel="stylesheet" href="/css/style.css"> -->

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>

<body>

  <!--  NAVBAR -->
  <nav class="navbar navbar-light bg-white" style="padding-left: 15px;">
    <a class="navbar-brand" href="../">
      <img src="../assets/logo.png" width="157.5" height="75" class="d-inline-block align-top" alt="Holo Logo">
    </a>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="./rentals">Rentals</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="./login" id="login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="./register" id="signup">Sign Up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="./profile" id="profile">My profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="./login" id="logout">Log out</a>
      </li>

    </ul>
  </nav>

    <!--NEW SEARCH BOX AND BUTTON-->
    <div class="container">
      <form id="form" role="search" action="rentals">
        <div class="row"><div class="input-group mb-4">
          <div class="col-8"><input type="search" placeholder="Bike, Snowboard, Surfboard..." aria-describedby="button-addon5" class="form-control" name="q" id="query"></div>
            <input type="date" aria-describedby="button-addon5" class="form-control" name="df" id="queryDateFrom">
            <span class="input-group-text">To:</span>
            <input type="date" aria-describedby="button-addon5" class="form-control" name="dt" id="queryDateTo">
          <button class="btn btn-primary">Go Time!</button>
          <!-- <div class="input-group-append">
              <button class="btn btn-primary">Go Time!</button>
          </div> -->
        </div></div>
      </form>
    </div>

  <nav id = "rentalsBar" class="navbar navbar-expand-lg navbar-dark bg-white" style = "border-bottom: 1px solid lightgrey; height: 30px">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link" href="rentals/bikes" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" style = "color: black; height: 30px">
              Bikes
            </a>
            <ul class="dropdown-menu dropdown-menu-bright" aria-labelledby="navbarDarkDropdownMenuLink">
              <li><a class="dropdown-item" href="rentals/bikes/road">Road bikes</a></li>
              <li><a class="dropdown-item" href="rentals/bikes/mountain">Mountain bikes</a></li>
              <li><a class="dropdown-item" href="rentals/bikes/cargo">Cargo bikes</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" href="rentals/golf" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" style = "color: black; height:30px">
              Golf
            </a>
            <ul class="dropdown-menu dropdown-menu-bright" aria-labelledby="navbarDarkDropdownMenuLink">
              <li><a class="dropdown-item" href="rentals/golf/carts">Carts</a></li>
              <li><a class="dropdown-item" href="rentals/golf/clubs">Clubs</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" style = "color: black; height:30px">
              Golf
            </a>
            <ul class="dropdown-menu dropdown-menu-bright" aria-labelledby="navbarDarkDropdownMenuLink">
              <li><a class="dropdown-item" href="rentals/golf/carts">Carts</a></li>
              <li><a class="dropdown-item" href="rentals/golf/clubs">Clubs</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" style = "color: black; height:30px">
              Golf
            </a>
            <ul class="dropdown-menu dropdown-menu-bright" aria-labelledby="navbarDarkDropdownMenuLink">
              <li><a class="dropdown-item" href="rentals/golf/carts">Carts</a></li>
              <li><a class="dropdown-item" href="rentals/golf/clubs">Clubs</a></li>
            </ul>
          </li>

        </ul>
      </div>
    </div>
  </nav>
  

  <br>

  <h5><button type="button" id="addRental" class="btn btn-info " data-bs-toggle="modal"
      data-bs-target="#exampleModal">
      + add new rental
    </button> </h5>
    
  <!-- Button trigger modal -->
  <br>
  <br>
  
  <div id="rentals" class="container">
    <div class="row" id="row" ></div>

  </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Item for Rental</h5>



        </div>
        <div class="modal-body">
          <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect01">Category</label>
            <select class="form-select" id="category">
              <option selected>None</option>
              <option value="Camp">Camp</option>
              <option value="Climb">Climb</option>
              <option value="Cycle">Cycle</option>
              <option value="Fitness">Fitness</option>
              <option value="Skate">Skate</option>
              <option value="Snow">Snow</option>
              <option value="Sports">Sports</option>
              <option value="Water">Water</option>
              <option value="Other">Other</option>
            </select>
          </div>
          <form class="form-floating">
            <input class="form-control" id="title">
            <label for="floatingInputValue">Title</label>
          </form>
          <form class="form-floating">
            <input class="form-control" id="description">
            <label for="floatingInputValue">Description</label>
          </form>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">$</span>
            </div>
            <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="Username"
              aria-describedby="basic-addon1">
          </div>
          <label for="startDate">From</label>
          <input class="form-control" id="dateFrom" type="date" />
          <label for="endDate">To</label>
          <input class="form-control" id="dateTo" type="date" />

          <input method="POST" enctype="multipart/form-data" class="form-control"  type="file" id="imageUpload" multiple />


        </div>
        <div class="modal-footer">
          <label id="addRentalNotLoggedIn">Please log in to add a rental</label>
          <label id="noTitleGiven">Please add a title</label>
          <label id="noDescriptionGiven">Please add a description</label>
          <label id="noPriceGiven">Please add a price</label>
          <label id="invalidPriceFormat">Invalid price format</label>
          <label id="noDateFromGiven">Please input a from date</label>
          <label id="noDateToGiven">Please input a to date</label>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" id="addRental-btn" class="btn btn-primary" data-bs-dismiss="" >Submit</button>
          
          
        </div>
      </div>

    </div>
  </div>
  </div>




  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.min.js"></script>
  <script src="../js/rentals.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

</body>

</html>