

h5 {
  font-weight: bold;

}



h4{
  text-align: center;

}

/* a tag links styling */

a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}



a:active {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}

#addRental{
  float: right;

}

#tos{
  color: blue;
}

#usernameNotSet{
  display: none;
  color: red;
  font-style:oblique;

}
#usernameAlrExists{
  display: none;
  color: red;
  font-style:oblique;
  
}

#errorTOS{
  display: none;
  color: red;
  font-style:oblique;
}
#shortPassword{
  display: none;
  color: red;
  font-style:oblique;
}
#invalidUserLength{
  display: none;
  color: red;
  font-style:oblique;
}
#emailAlrExists{
  display: none;
  color: red;
  font-style:oblique;
}
#emailNotSet{
  display: none;
  color: red;
  font-style:oblique;
}
#emailNotValid{
  display: none;
  color: red;
  font-style:oblique;
}
#accountCreated{
  display: none;
  color: green;
  font-style:oblique;
  font-weight: bold;
  text-align: center;
}
#blankUser{
  display: none;
  color: red;
  font-style:oblique;
}
#invalidLoginUser{
  display: none;
  color: red;
  font-style:oblique;
}
#invalidLoginPw{
  display: none;
  color: red;
  font-style:oblique;
}
#blankPw{
  display: none;
  color: red;
  font-style:oblique;
}
#addRentalNotLoggedIn{
  display: none;
  color: red;
  font-style:oblique;
}
#noTitleGiven{
  display: none;
  color: red;
  font-style:oblique;
}
#noDescriptionGiven{
  display: none;
  color: red;
  font-style:oblique;
}
#noPriceGiven{
  display: none;
  color: red;
  font-style:oblique;
}
#invalidPriceFormat{
  display: none;
  color: red;
  font-style:oblique;
}
#profile{
  display: none;
}
#loggedOut{
  display: none;
  color: green;
  font-style:oblique;
  font-weight: bold;
  text-align: center;
}

#oneCard:hover{
   transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}


a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}


/* .row > div[class*='col-'] {
 display: flex;
} */

.card {
  margin-bottom: 40px;
}




#rentalsBar  .navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}

/* Links inside the navbar */
#rentalsBar .navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
#rentalsBar .dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
#rentalsBar .dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
#rentalsBar .navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

/* Dropdown content (hidden by default) */
#rentalsBar .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
#rentalsBar .dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
#rentalsBar .dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
#rentalsBar .dropdown:hover .dropdown-content {
  display: block;
}
